<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sql</servlet-name>
        <servlet-class>sql</servlet-class>
        <init-param>
        <param-name>Driver</param-name>
        <param-value>com.oracle.jdbc.Driver</param-value>
    </init-param>
    <init-param>
        <param-name>path</param-name>
        <param-value>localhost:8080/student</param-value>
    </init-param>
    <init-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </init-param>
    <init-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>sql</servlet-name>
        <url-pattern>/sql</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
